SmartH2O_DLog/param-data.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="param-logs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param-date" type ="dateType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
 <xs:complexType name="dateType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="param-type" type="paramType"/>
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="required" />
  </xs:complexType>
  
  <xs:complexType name="paramType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="param-log" type="logType"/>
    </xs:sequence>
    <xs:attribute name="type" type="enum_type" use="required" />
  </xs:complexType>
  
  <xs:complexType name="logType">
    <xs:sequence>
      <xs:element name="value" type="xs:decimal" />
      <xs:element name="time" type="xs:time" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="enum_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PH" />
      <xs:enumeration value="NH3" />
      <xs:enumeration value="CI2" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>