SmartH2O_Service/App_Data/param-data.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="param-logs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="param-date">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="param-type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="param-log">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:integer" />
                          <xs:element name="value" type="xs:decimal" />
                          <xs:element name="time" type="xs:time" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="parameter-type" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="date" type="xs:date" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType	name="parameter-type">
    <xs:restriction	base="xs:string">
      <xs:enumeration	value="PH"/>
      <xs:enumeration	value="NH3"/>
      <xs:enumeration	value="CI2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>